.square {
  background: #eee;
  border: 1px solid blueviolet;
  border-top: 1px solid #eee; 
  border-left: 1px solid #eee;
  text-align: center; 
  padding: 0.1em;
}

.selected {
  background: blueviolet;
  color: white;
  border: 1px solid blueviolet
}

.square div {
 display: table;
 width: 100%;
 height: 100%;
}

.square span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}